<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Add to the list of meals in the box below</p>

  <form id="add-meal-form" action="/meals" method="post">
    <label for="name-input">Meal:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
  
  <ul>
      <% meals.forEach(function(meal) { %>
        <li><%= meal.name %></li>
      <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>